
.navbrand{
font-size:22px;
width: 100%;
color:white;
background-color:#cacaa6;
padding-top:11.8px;
padding-bottom: 11.8px;
}

body{
background-color:#48552c;
color:white;
}
.index {
background-color: black;
padding: 16px;
}

.navwild {
float: left;
}
.nav nav-tabs {
background-color: gray;
}




.dropbtn {
  background-color: #cacaa6;
  color: #9c7450;
  padding: 9px;
  padding-left: 16px;
  font-size: 25px;
  border: none;
  font-weight: bold;
}
.paw{
color:#9c7450;
}
.paws{
font-weight:bold;
color:#48552c;
}
.report{
padding-top:16px;
}
.report img{
padding-left:36px;
}
.add-new a{
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
text-decoration: none;
color: white;
background-color: green;
border-radius:10px;
padding: 8px;
padding-left: 10px;
padding-right: 10px;
font-size: 17px;
}
.add-sight{
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
text-decoration: none;
color: white;
background-color: green;
border-radius:10px;
padding: 8px;
padding-left: 10px;
padding-right: 10px;
font-size: 17px;
}
a{
text-decoration: none;
}
.common,.endangered{
color:#e6d96c;

}
.report-para{
 padding-top:35px;
 font-size: 22px;
 padding-left:80px;
 padding-right:50px;

}
.common-sight,.endangered-sight{
padding-left:150px;

}
.endangered-sight{
padding-left:400px;
}
.common-sighted,.endangered-sighted{
padding-left:150px;
}
.tracked{
padding-top:90px;

}
.final{
padding-top: 12px;
padding-bottom:12px;
}
.trackedd{
padding-top:60px;
}
.footer{

width:100%;
background-color:#cacaa6;
color:#000000;
}
.report-sub-para{
font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}