<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#block "title"}}WILDLIFE{{/block}}</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css" />
</head>
<body>
<div class="navwild">
    <div class="nav nav-tabs">
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                <a href="/animal/new"> <i class="fa fa-plus" aria-hidden="true"></i> New animal</a>
            </div>
        </div>
    </div>
</div>
<div class="navbrand text-center paws">
    <i class="fas fa-paw "></i> Track<span class="paw">Paw</span>
</div>

<div class="container">


    <div class="col-md-12">{{#block "content"}} {{/block}}</div>
</div>

{{#block "footer"}}
    <footer class="footer">
        <div class="container">

        </div>
    </footer>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
    ></script>
    </html>
{{/block}}